# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp & cache directory
.temp
.tmp
.cache/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Nest CLI 설정 파일
.nest-cli.json

# Prisma 관련
prisma/migrations/
prisma/.env  # 만약 Prisma에서 별도의 환경 변수를 사용한다면

# TypeScript 관련
*.tsbuildinfo

# 테스트 결과 파일
coverage/
*.lcov